<div class="toolbar" role="banner">
        <span>Warehouse</span>
      
        <nav>
          <button class="name" routerLink="/main" >Главная</button>
          <div class="dropdown">
              <button class="dropbtn" routerLink="/category" >Категории товаров</button>
              <div class="dropdown-content">
                <a routerLink="">Бакалея Консервы</a>
                <a routerLink="">Весовое печенье, пирожное</a>
                <a routerLink="">Игрушки</a>
                <a routerLink="">Кондитерские изделия</a>
                <a routerLink="">Морепродукты</a>
                <a routerLink="">Напитки</a>
                <a routerLink="">Прочие товары</a>
                <a routerLink="">Чай, кофе</a>
              </div>
            </div>
              <button class="name" routerLink="/delivery">Доставка и оплата</button>
              <button class="name" routerLink="/contacts">Контакты</button>
              <button class="name" routerLink="/about_us">О нас</button> 
              <button class="name" (click)="buttonLoginLogoutClick()"  [textContent]="isAuthed ? 'Выйти' : 'Войти'"></button>
          </nav>
        </div>