<!--    <footer>
  <ul>
    <li>
      <p class="home">Главная</p>
      <img src="/assets/warehouse.jpg" style="margin-top: 20px; ">
    </li>
    <li>
      <p class="services">Доставка</p>

      <ul>
          
        <li><a href="#">Адреса доставки</a></li>
        <li><a href="#">Время доставки</a></li>
        <li><a href="#">Стоимость доставки</a></li>
        <li><a href="#">Замена товаров</a></li>
      </ul>
    </li>
    <li>
      <p class="reachus">Контакты</p>

      <ul>
        <li><a href="#">Email</a></li>
        <li><a href="#">VKontakte</a></li>
        <li><a href="#">Instagram</a></li>
        <li>+7 917-609-08-51</li>
      </ul>
    </li>
    <li>
      <p class="clients">О нас</p>

      <ul>
        <li><a href="#">Цели</a></li>
        <li><a href="#">Преимущества</a></li>
        <li><a href="#">Реквизиты</a></li>
      </ul>
    </li>
  </ul>
</footer>    -->