    <div class="content" role="main">
        <div>
           <h1><u>О нас</u></h1>
           <div class = "picture">
                <img src="/assets/us01.jpg" style="margin-top: 20px; ">
            </div>
      <p> Наша компания более 20-ти лет специализируется на рынке оптово-розничной торговли продуктов питания: напитков, алкогольной, табачной продукции, игрушек и тд.</p>
      <ul>


      </ul>
      <p><span style="font-weight: bold;">Главной целью нашей компании за все время работы в сфере услуг всегда оставалось:</span></p>

      
      <ul>
      
      <li>Удовлетворение потребностей наших клиентов по ценам, оптимальным для ведения их бизнеса</li>
      
      </ul>
      
      <p></p><p><span style="font-weight: bold;"><br></span></p><p><span style="font-weight: bold;">Наши преимущества:</span></p><p></p>
      
      <p></p>
      
      <ul>
      
      <li>Гарантия самых низких цен</li>
      
      <li>Огромный ассортимент</li>
      
      <li>Индивидуальный подход к каждому клиенту</li>
      
      <li>Удобство оформления заказа</li>
      
      <li>Экономия вашего времени и сил<br></li>
      
      <li>Круглосуточное время работы</li>
      
      </ul>
      <p></p>
      <p>"<span style="font-weight: bold;">Warehouse</span>" - это интернет-витрина и информационный каталог позволяющий ознакомиться с ценами и наличием товаров, сделать предварительный заказ. Сведения, размещенные на сайте, не являются рекламой, носят исключительно информационный характер, и предназначены только для личного использования.</p>
      <ul></ul>
      <p>ИП Малинин Константин Станиславович - ИНН: 370103474051, ОГРНИП: 317502700018010<br></p>
    </div>
</div>