
<div class="content" role="main">
    <h1 style="padding: 10px; font-family: 'Times New Roman', Times, serif;">Категории</h1>
    <input [(ngModel)]="findText" type="text">
    <table>
        <tr *ngFor="let productsByCategory of productsView">
            <td>
            <h2>{{productsByCategory.name}}</h2>
                <table>
                    <tr *ngFor="let productsLine of productsByCategory.array">
                        <td *ngFor="let product of productsLine">
                            <img src={{product.url}} width="100px" >
                            <h4>{{product.description}} <br> {{product.price}} </h4>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
  </div>