<div class="content" role="main">
    <div>
        <table><tbody>
          <h1><u>Контакты</u></h1>
            <tr><td><b>Адрес:</b></td><td> Ульяновск, пр-т Созидателей, д. 44, кв. 173<br></td><td rowspan="15">                  
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2324.146823314805!2d48.59422231577176!3d54.37205598020678!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x415d3f2393e8d9d7%3A0x39f902b5d3770849!2z0L_RgC3Rgi4g0KHQvtC30LjQtNCw0YLQtdC70LXQuSwgNDQsINCj0LvRjNGP0L3QvtCy0YHQuiwg0KPQu9GM0Y_QvdC-0LLRgdC60LDRjyDQvtCx0LsuLCA0MzIwNTk!5e0!3m2!1sru!2sru!4v1568982864708!5m2!1sru!2sru" width="800" height="400" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </td></tr>
            <tr><td><b>Телефон:</b></td><td>+7 (917) 609-08-51</td></tr>
            <tr><td><b>E-mail:</b></td><td> kostyan.malinin@yandex.ru</td></tr>
            <tr><td></td><td></td></tr>
            <tr><td><b>Отдел закупок:</b></td><td>+7 (999) 777-77-77</td></tr>
            <tr><td><b>E-mail:</b></td><td> volerdman@gmail.ru</td></tr>
            </tbody>
          </table>      
    </div>
  </div>