<div class="content" role="main">
            <div>
              <h1><u> Доставка</u></h1>
              <div class = "picture">
                  <img src="/assets/gruz.jpg" style="margin-top: 20px; ">
              </div>
              <h4 style="text-align: justify; "><span style="font-weight: bold;">	Адреса и время доставки</span></h4>
      <p style="text-align: justify; ">Доставка продуктов осуществляется в пределах Ульяновска и Ульяновской области.&nbsp;Вы можете ввести несколько адресов доставки в личном кабинете интернет-магазина и выбирать нужный при совершении покупки и заказа доставки продуктов.</p>
      <p style="text-align: justify;">Вы можете выбрать временной интервал доставки не далее 7 дней.&nbsp;Максимальное время ожидания доставки – 4 часа.</p>
      <h4 style="text-align: justify; "><span style="font-weight: bold;">Стоимость доставки</span></h4>
      <p style="text-align: justify;">Минимальная сумма заказа для доставки - 30.000 рублей. Доставка осуществляется <span style="font-weight: bold;">бесплатно </span>по Ульяновску и Ульяновской области.</p>
      <p style="text-align: justify;">Режим работы оптового центра - 6:00 - 19:00 ежедневно.<br></p>
      <h4 style="text-align: justify;"><span style="font-weight: bold;">Замена товаров&nbsp;</span></h4>
      <p style="text-align: justify;">Если по каким-либо причинам заказанный товар отсутствует, мы готовы заменить его похожим, при этом у покупателя остается право отказаться от предложенного нами товара.</p>
      <h4 style="text-align: justify;"><span style="font-weight: bold;">Обратите внимание:</span></h4>
      <p></p>
      <ul>
      <li style="text-align: justify;">Заказы, доставка которых осуществляется с 7:00 до 13:00, комплектуются ночью либо ранним утром, поэтому при замене мы полагаемся на свое экспертное мнение и информируем покупателя об изменениях в заказе посредством SMS (сообщения отправляются не ранее 07:00 утра и до 21:00).</li>
      <li style="text-align: justify;">Замена товаров в заказах, доставка которых осуществляется с 7:00 до 22:00, согласовывается с покупателем по телефону. В случае невозможности связаться, мы отправляем SMS.</li>
      <li style="text-align: justify;">При отказе от товара на месте в момент получения, клиент должен изложить причину возврата и рекомендации по данному товару. Все ваши интересы учитываются.<br></li>
      </ul>
      
      <p></p>
    </div>
</div>