<div class="toolbar" role="main"></div>
              <div class="menu">
                <div class="links_head"><span>О нас</span></div>
                <div class="links">
                  <a routerLink="/about_us">О компании</a>
                  <a routerLink="/contacts">Контакты</a>
                  <a href="">Публичная оферта</a>
                  <a href="">Политика конфиденциальности</a>
                </div>
              </div>
              <div class="menu">
                <div class="links_head"><span>Информация</span></div>
                <div class="links">
                  <a href="">Доставка и оплата</a>
                  <a routerLink="/discount">Акции</a>
                  <a href="">Новинки</a>
                  <a href="">Избранное</a>
                </div>
              </div>
              <div class="menu">
                <div class="links_head"><span>Магазин</span></div>
                <div class="links">
                  <a href="">Корзина покупок</a>
                  <a href="">Оформление заказа</a>
                  <a href="">Личный кабинет</a>
                  <a href="">Сравнение</a>
                </div>
              </div>
            <div class="info">
              <div class="logo"><img src="https://foodstarcity.ru/image/catalog/logo.svg" alt="ФудСтарСити"></div>
              <div class="phone"><a data-link="true" class="phone" href="tel:+79176090851">+7 917 609-08-51</a></div>
            </div>