<div class="content" role="main">
        <div>
          <div>
            <div>
                <img src="/assets/stock.jpg" style="margin-top: 35px; ">
            </div>
            <h2>Выберите категорию</h2>
            <div class="home_categories">
                <div class="cat_out">
                  <a href="" class="category">
                    <span>Бакалея Консервы</span>
                  </a>
                </div>
                <div class="cat_out">
                  <a href="" class="category">
                    <span>Весовое печенье, пирожное</span>
                  </a>
                </div>
                <div class="cat_out">
                  <a href="" class="category">
                    <span>Игрушки</span>
                  </a>
                </div>
                <div class="cat_out">
                  <a href="" class="category">
                    <span>Кондитерские изделия</span>
                  </a>
                </div>
                <div class="cat_out">
                  <a href="" class="category">
                    <span>Морепродукты</span>
                  </a>
                </div>
                <div class="cat_out">
                <a href="" class="category">
                  <span>Напитки</span>
                </a>
                </div>
                <div class="cat_out">
                  <a href="" class="category">
                    <span>Прочие товары</span>
                  </a>
                </div>
                <div class="cat_out">
                  <a href="" class="category">
                    <span>Чай, кофе</span>
                  </a>
                </div>
              </div>
            </div> 
            <div>
              <h2>Хиты продаж</h2>
              <div class="__item" style="width: 200px; float: left; display: block;">
                <div class="__product item15268 "> 
                  <div class="image">
                    <a href=""><img src="/assets/1.jpg" alt="ДМЦ Мармелад Дольки Макси Цитрус 2,5 кг." draggable="false"></a>
                  </div>
                  <a href="" class="name">ДМЦ Мармелад Дольки Макси Цитрус 2,5 кг.<br></a>
                  <span class="mark "><b>80 p.</b></span>   
                </div>    
              </div>
            </div>
          <div class="__item" style="width: 200px; float: left; display: block;">
            <div class="__product item17430 ">
              <div class="image">
                <a href=""><img src="/assets/2.jpg" alt="Рис краснодарский круглозерный 900гр 1/12" draggable="false"></a>
              </div>
              <a href="" class="name">Рис краснодарский круглозерный 900гр 1/12<br></a>
              <span class="mark "><b>50 p.</b></span>   
            </div>    
          </div>
          <div class="__item" style="width: 200px; float: left; display: block;">
            <div class="__product item2227 ">  
                 <div class="image">
                 <a href=""><img src="/assets/3.jpeg" alt="Паштет HAME 117гр из мяса птицы ж/б  1/10" draggable="false"></a>
              </div>
              <a href="" class="name">Паштет HAME 117гр из мяса птицы ж/б  1/10<br></a>
              <span class="mark "><b>30 p.</b></span>
            </div>   
          </div>
          <div class="__item" style="width: 200px; float: left; display: block;">
            <div class="__product item21 "> 
                <div class="image">
                  <a href=""><img src="/assets/4.png" alt="Азерчай 25пак 1/24" draggable="false"></a>
                </div>
                <a href="" class="name">Азерчай 25пак 1/24<br></a>
                <span class="mark "><b>100 p.</b></span>
              </div>
            </div>
            <div class="__item" style="width: 200px; float: left; display: block;">
              <div class="__product item16417 "> 
                  <div class="image">
                    <a href=""><img src="/assets/5.jpg" alt="Чоко-Пай-6, 168гр. ЛОТТЕ Банан 1/16 " draggable="false"></a>
                  </div>
                  <a href="" class="name">Чоко-Пай-6, 168гр. ЛОТТЕ Банан 1/16<br></a>
                  <span class="mark "><b>130 p.</b></span>
                </div>   
               </div>
            
        </div>
      </div>