<p style="margin-top: 100px;margin-left: 50px;">
    <a target="_blank" href="https://www.dropbox.com/home/Приложения/warehouse_73">Файлы</a>
</p>

<div *ngIf="!isUpload"> 
    <div class="input-group" style="width: 50%; margin: 30px">
        <div class="custom-file">
        <input type="file" class="custom-file-input" id="inputGroupFile01"
            aria-describedby="inputGroupFileAddon01" (change)="fileChange($event)">
        <label class="custom-file-label" for="inputGroupFile01">{{ uploadedFiles  ? uploadedFiles[0].name : '   Выберите файл' }}</label>
      </div>
    </div>

    <button mdbBtn color="dark" style="font-size: 70%; margin: 2%"
            mdbWavesEffect (click)="upload()" [disabled]="!uploadedFiles">
      Загрузить
    </button>
  </div>

  <div *ngIf="isUpload" class="d-flex justify-content-center">
    <div class="spinner-border m-5" role="status">
      <span class="sr-only">Загрузка...</span>  
    </div>
  </div> 